/* 1024px - An open source xhtml/css website template by Andreas Viklund - http://andreasviklund.com . Free to use in any way and for any purpose as long as the proper credits are given to the original designer.

Version: 1.0, March 29, 2006 

Some modifications made in December, 2006 by Ana Guerero.
Some modifications made in June, 2011 by Eshat Cakar.
*/

/******** General tags ********/
body{
  font-size: 90%;
  font-family: noto sans,-apple-system,BlinkMacSystemFont,segoe ui,roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
background:white;
color:#404040;
line-height:1.2em;
margin:0 auto;
padding:0;
}

a{
text-decoration:none;
color:#316f98;
font-weight:bold;
}

a:hover{
  color: #3daefd;
}
a img{border:0;}
p{margin:0 0 18px 10px;}
ul,ol,dl{font-size:0.9em; margin:2px 0 16px 35px;}
ul ul,ol ol{margin:4px 0 4px 35px;}

h1{
margin:4px 0 6px;
}

h1 a{
text-shadow: #FFF 1px 1px 0px;
}

h2{
font-size:1.2em;
  color: #232629;
border-bottom:2px dotted #D3D7CF;
padding:0 2px 4px 5px;
margin:0 0 10px 0;
}

h2 img{
  width: 64px;
  height: 64px;
}

h3{
font-size:1.2em;
font-weight:bold;
  color: #232629;
border-bottom:2px dotted  #dadada;
margin:10px 0 8px 0;
padding:1px 2px 2px 3px;
}

h4 {
  color: #232629;
}

h5{margin:0 0 18px 10px;}

hr{
width:80%;
color:#BABDB6;
background-color:#BABDB6;
}

pre{margin:0 0 18px 10px;}

blockquote{
font-size:0.9em;
border:1px solid #dadada;
margin:20px 10px;
padding:8px;
}

/******** Main wrap ********/
#wrap{
color:#232629;
background-color:#FFF;
width:1010px;
margin:0 auto;
padding:0;
}

#header{
background-color:#F2F2F2;
margin:0;
padding: 8px;
text-align:center;
}

#header a img {
  height: 64px;
}

#toplinks{text-align:right; padding:5px 2px 2px 3px;}

#slogan{
font-size:1.5em;
color:#808080;
font-weight:bold;
letter-spacing:-1px;
margin:15px 0px 20px 35px;
line-height:1.2em;
}

/******** sidebar ********/
#sidebar{
float:left;
width:258px;
margin:16px 0 5px 0;
}

#sidebar ul{
list-style:none;
font-size:0.9em;
margin:0;
padding:0 0 15px 18px;
}

#sidebar li{
list-style:none;
margin:0 0 4px 0;
padding:0;
}

#sidebar li a{
font-size:1.2em;
font-weight:normal;
padding:0;
}

#sidebar ul ul{
margin:4px 0 3px 15px;
line-height:1.2em;
padding:0;
}

#sidebar ul ul li a{font-weight:normal;}

#sidebar h2{
padding: 12px 0 16px 8px;
margin:0 0 8px 0;
background-color: #F2F2F2;
border-bottom: none;
font-size: 1em;
}

#sidebar h2 img{
  width: 36px;
  height: 36px;
  margin-top: -8px;
  padding-right: 4px;
}

/******** Content variations ********/
#content{
line-height:1.5em;
width:720px;
float:right;
text-align:left;
margin:16px 16px;
padding:0;
}

#contentalt{
line-height:1.5em;
width:750px;
float:left;
text-align:left;
padding:0;
margin-right:20px;
}

#content h3, #contentalt h3{margin:10px 0 8px;}

/******** Footer ********/
#footer{
clear:both;
text-align:right;
color:#808080;
background-color:#F2F2F2;
font-size:0.9em;
margin:0 auto;
padding:8px 16px;
line-height:1.6em;
}

#footer p{margin:0; padding:0;}
#footer a{color:#808080;}

/******** Various classes ********/
.box{
color:#ffffff;
font-size:0.9em;
background-color:#4088b8;
border:1px solid #c8c8c8;
line-height:1.3em;
padding:5px 5px 5px 8px;
}

.box a{color:#f0f0f0;}
.left{float:left; margin:0 15px 4px 0;}
.right{float:right; margin:0 0 4px 15px;}
.textright{text-align:right;}
.readmore{text-align:right; margin:-10px 10px 12px 0;}

.center{text-align:center;}
.blue{color:#4088b8;}
.big{font-size:1.3em;}
.small{font-size:0.8em;}
.bold{font-weight:bold;}

.clear{clear:both;}
.hide{display:none;}
.fade{color:#636a71;}
.gray{color:#808080;}

.photo{
border:1px solid #bababa;
padding:2px;
background-color:#ffffff;
margin:6px 18px 2px 5px;
}
